<!-- Modal -->
<div class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th>User</th>
            </tr>
          </thead>
        
          <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
          
      </div>
      <div class="modal-footer">
          <%= link_to 'New User setting', new_user_path %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->