// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #master_container, #map_id {
    margin: 0;
    width: 100%;
    height: 100%;
}